<ion-view>
  <ion-nav-buttons side="right">
    <button class="button button-clear button-positive" ng-click="vm.saveEvent()">Save</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input label">Name</span>
        <input type="text" placeholder="Name" ng-model="vm.event.name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input label">Date</span>
        <input type="text" placeholder="Date" ng-model="vm.event.date">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input label">Postcode</span>
        <input type="text" placeholder="Postcode" ng-model="vm.event.postcode">
      </label>
    </div>
  </ion-content>
</ion-view>