<ion-view view-title="Registrar App">
  <ion-content>
    <div class="list">

      <h3 class="eventTitle">{{vm.currEvent.name}}</h3>

      <label class="item item-input" style="margin-bottom:25px">
        <input type="text" ng-model="vm.subject.nickname" placeholder="Nickname" ng-minlength="3">
      </label>

      <button class="button button-block button-positive" ng-click="vm.saveSubject()">Submit</button>
      <button class="button button-block button-balanced" ng-click="vm.suggestSubject()">Suggest</button>

    </div>
  </ion-content>
</ion-view>